pandas>=2.1.4
pandera>=0.23.1
faker>=19.0.0
plotly>=6.0.0
numpy>=1.26.4
sadisplay>=0.4.9
scikit-learn>=1.6.1
ydata-profiling>=4.14.0
psycopg2-binary>=2.9.0
graphviz>=0.20.0
SQLAlchemy>=2.0.39
Faker>=37.0.0
Jinja2>=3.1.6 