# Testing and Development
pytest==8.3.5
mypy==1.15.0
pylint==3.3.6
black==25.1.0
rope==1.13.0

# Database Connectivity
psycopg2-binary==2.9.10
SQLAlchemy==2.0.39

# Data Processing and Analysis
pandas==2.2.0
numpy==1.26.4
polars==0.20.7
pyspark==3.5.1
pyarrow==14.0.1
findspark==2.0.1

# Data Validation and Quality
pandera==0.18.0
great-expectations==0.18.9

# Visualization and Documentation
matplotlib==3.8.3
seaborn==0.13.2
plotly==5.18.0

# String Processing
python-Levenshtein==0.23.0

# Package Management
pip-tools==7.4.0

# Jupyter Environment
jupyter==1.0.0
notebook==7.0.7
ipykernel==6.29.0
nbformat==5.9.2
nbconvert==7.16.0

# Additional Dependencies
tqdm==4.66.2
scikit-learn==1.4.0

# New package
streamlit-option-menu==0.3.12
