pandas>=2.0.0
psycopg2-binary>=2.9.0
SQLAlchemy>=2.0.0
jupyter>=1.0.0
ipykernel>=6.0.0
notebook>=7.0.0
matplotlib>=3.0.0
ipynb-py-convert>=0.4.0
seaborn>=0.12.0
polars>=0.20.0
pyspark>=3.5.0
pandera>=0.18.0 